
body {
    font-family: Roboto, 'Segoe UI', Arial, 'Microsoft Yahei', sans-serif;
    font-size: 81.25%;
    min-height: 100vh;
    position: relative;
}

#content {
    align-items: center;
    display: flex;
    flex-direction: column;
    /*height: calc(100vh - 56px);*/
    min-width: fit-content;
    padding-top: 56px;
    position: relative;
    z-index: 1;
}

#imageContainer {
    width: 500px;
    height: 150px;
    margin-top: 100px;
}

#image {
    max-width: 500px;
    max-height: 100px;
}

#inputWrapper {
    position: relative;
    display: inherit;
    margin-bottom: 16px;
    height: 44px;
    font-size: 16px;
    box-shadow: 0 1px 6px 0 #20212447;
    border-radius: calc(0.5 * 44px);
    width: 561px;
}

#input {
    width: 100%;
    border: none;
    border-radius: calc(0.5 * 44px);
    padding-inline-end: 44px;
    padding-inline-start: 52px;
    position: relative;
    outline: 0;
}

#search {
    right: 12px;
    position: absolute;
}

#searchIcon {
    height: 24px;
    width: 24px;
    margin-top: 10px;
    cursor: pointer;
}

#container {
    width: 561px;
    display: flex;
    height: 230px;
    justify-content: center;
    flex-wrap: wrap;
    overflow: visible;
}

.tile {
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 112px;
    width: 112px;
    opacity: 1;
    outline: 0;
    position: relative;
    text-decoration: none;
    /*transition-duration: .3s;*/
    /*transition-property: left,top;*/
    /*transition-timing-function: ease-in-out;*/
}

.tile:hover {
    background-color: #e8e8e9;
}

.tile-icon {
    align-items: center;
    background-color: rgba(241, 243, 244, 1);
    display: flex;
    flex-shrink: 0;
    height: 48px;
    width: 48px;
    justify-content: center;
    margin-top: 16px;
    border-radius: 50%;
}

.tile-icon img {
    width: 24px;
    height: 24px;
}

.tile-title {
    direction: ltr;
    align-items: center;
    border-radius: 18px;
    color: black;
    display: flex;
    height: 32px;
    width: 88px;
    line-height: 16px;
    margin-top: 6px;
    padding: 2px 8px;
}

#loading {
    display: none;
}

.tile-title span {
    font-weight: 400;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.spinner-border {
    margin-top: 100px;
    color: gray;
}

.errorMsgBox {
    max-width: 500px;
    margin-top: 50px;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 1em;
    color: #bbb;
    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: #bbb;
}